html, body {
    height: 100%;
    width: 100%; 
    margin: 0;
}

#logo {
    display: block;
    margin: auto; 
    width: 15rem;
}

#form {
    display: flex;
    margin: auto;
    justify-content: center;
}